<main class="container">
    <h1 class="text-center">Welcome to ICE 9 INFT2202's About Page</h1>
    <p class="lead text-center">This is a simple paragraph tag that will display on the page when the user navigates to the about us page.</p>
    <p class="lead text-center">Any more questions? Feel free to contact us using the form below.</p>
    <form action="/submit-form" method="POST">
        <label for="contactInput">Contact Email</label><br>
        <input type="text" id="contactInput" name="contactInput"><br>
        <label for="yourMessageInput">Your Message/Question</label><br>
        <textarea id="yourMessageInput" name="yourMessageInput" cols="50" rows="5"></textarea><br>
        <button type="reset">Reset</button><br>
        <button type="submit">Submit</button>
    </form>
</main>