<main class="container">
    <h1 class="text-center">Welcome to ICE 9 INFT2202's FAQ Page</h1>
    <p class="lead text-center">This is a simple paragraph tag that will display on the page when the user navigates to the FAQ page.</p>
    <p class="lead text-center">If you attempted to contact us in the about us page, your message will display below this paragraph tag.</p>
    {{{messageContent}}}
</main>